<app-header></app-header>

<!-- Loader pendant le chargement -->
<div *ngIf="isLoading" class="loader-container">
  <div class="spinner"></div>
</div>

<div class="container" *ngIf="!isLoading">
  <h1 class="title">Les livres ({{nomTheme}})</h1>

  <div *ngIf="listLivres.length === 0" class="no-lists-message">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="120"
      height="120"
      fill="none"
      viewBox="0 0 64 64"
      stroke="#999"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M32 12v40M12 32h40" />
      <circle cx="32" cy="32" r="30" />
    </svg>
    <p>Aucun livre disponible pour le moment.</p>
  </div>

  <!-- Filters -->
  <div class="filters"  *ngIf="listLivres.length > 0">
    <!-- Filtres par année -->
    <select
      [(ngModel)]="selectedPeriode"
      placeholder="Filtrer par année"
      (change)="applyFiltersYear()"
    >
      <option value="" selected>-- Filtrer par année --</option>
      <option *ngFor="let annee of periodes" [value]="annee">
        {{ annee }}
      </option>
    </select>

    <select [(ngModel)]="selectedType" (change)="applyFiltersType()">
      <option value="">-- Filtrer par type --</option>
      <option *ngFor="let t of types" [value]="t">{{ t }}</option>
    </select>
  </div>

  <div class="magazine-grid"  *ngIf="listLivres.length > 0">
    <div class="magazine-card" *ngFor="let livre of listLivres">
      <div class="cover-container">
        <img
          [src]="livre.cover"
          alt="{{ livre.titre }}"
          class="magazine-cover"
        />

        <!-- Icône Favori -->

        <div class="favorite-icon" (click)="toggleFavori(livre)">
          <!-- SVG étoile (remplie ou vide selon favoris) -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            [attr.fill]="isFavori(livre) ? 'red' : '#ffffffcc'"
            viewBox="0 0 24 24"
            class="star-icon"
          >
            <path
              d="M12 17.27L18.18 21l-1.63-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.45 4.73L5.82 21z"
            />
          </svg>
        </div>
      </div>

      <div class="magazine-info">
        <h2 class="magazine-title">
          <i class="fas fa-book"></i> {{ livre.titre }}
        </h2>
        <p class="magazine-type">
          <i class="fas fa-tag"></i> Année : <strong>{{ livre.year }}</strong>
        </p>
        <p class="magazine-pages">
          <i class="fas fa-file-alt"></i> {{ livre.nbr_pages }} pages
        </p>

        <div
          class="circular-progress-container"
          *ngIf="getProgress(livre.token) > 0"
        >
          <svg class="progress-ring" width="60" height="60">
            <circle
              class="progress-ring__background"
              stroke="#e5e7eb"
              stroke-width="6"
              fill="transparent"
              r="26"
              cx="30"
              cy="30"
            />
            <circle
              class="progress-ring__circle"
              [attr.stroke-dasharray]="circumference"
              [attr.stroke-dashoffset]="getDashOffset(livre.token)"
              stroke="#3b82f6"
              stroke-width="6"
              fill="transparent"
              r="26"
              cx="30"
              cy="30"
            />
          </svg>
          <div class="progress-text">{{ getProgress(livre.token) }}%</div>
        </div>

        <button class="btn-read" (click)="selectLivre(livre)">
          <i class="fas fa-book-open"></i> Lire ce numéro
        </button>
      </div>
    </div>
    <div class="magazine-grid" style="margin-left : 25%;margin-right :25%"  ></div>
    <div class="magazine-grid" style="margin-left : 25%;margin-right :25%"  ></div>
    <div class="magazine-grid" style="margin-left : 25%;margin-right :25%"  ></div>
  </div>
</div>

<!-- Menu d'actions ActionSheet -->
<div
  class="actionsheet-backdrop"
  *ngIf="selectedLivre"
  (click)="closeActionSheet()"
></div>
<div class="actionsheet" *ngIf="selectedLivre">
  <h3>Actions pour : {{ selectedLivre.titre }}</h3>
  <!-- <button (click)="actionLire()">Lire</button>
  <button (click)="actionPartager()">Partager</button>
  <button (click)="actionFavori()">
    {{ isFavori(selectedLivre) ? 'Retirer des favoris' : 'Ajouter aux favoris'
    }}
  </button>
  <button class="btn-cancel" (click)="closeActionSheet()">Annuler</button>-->

  <button (click)="actionLire()"><i class="fas fa-book-open"></i> Lire</button>
  <button (click)="actionPartager()">
    <i class="fas fa-share-alt"></i> Partager
  </button>
  <button (click)="actionFavori()">
    <i [class]="isFavori(selectedLivre) ? 'fas fa-star' : 'far fa-star'"></i>
    {{ isFavori(selectedLivre) ? 'Retirer des favoris' : 'Ajouter aux favoris'
    }}
  </button>
  <button (click)="actionListeLectureLivre()">
    <i [class]="isFavori(selectedLivre) ? 'fas fa-star' : 'far fa-star'"></i>
    {{ isFavori(selectedLivre) ? 'Retirer d\'une liste(Livres)' : 'Ajouter à une
    liste (Livres)' }}
  </button>
  <button class="btn-cancel" (click)="closeActionSheet()">
    <i class="fas fa-times"></i> Annuler
  </button>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="isListModalOpen" (click)="closeListModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Listes (Livres) Disponibles</h3>
    <ul class="list-container">
      <li *ngFor="let list of listsLectureLivres" class="list-item">
        <span class="list-name">{{ list.titre }}</span>
        <button class="assign-btn" (click)="assignLivreToList(list)">
          Affecter
        </button>
      </li>
    </ul>
    <button class="close-btn" (click)="closeListModal()">Fermer</button>
  </div>
</div>

<div class="toast-notification" *ngIf="toastMessage" [@fadeInOut]>
  {{ toastMessage }}
</div>

<!-- Affiche le modal si la session est expirée -->
<div class="modal-backdrop" *ngIf="showSessionExpiredModa"></div>
<div class="session-modal" *ngIf="showSessionExpiredModa">
  <h2>Session expirée</h2>
  <p>Votre session a expiré.<br />Veuillez vous reconnecter pour continuer.</p>
  <button (click)="goToLogin()">Se connecter</button>
</div>
