<app-header></app-header>
<div class="magazine-viewer">
  <div>
    <h2>{{nom_livre}}</h2>
    <h2 style="text-align: center">Page {{(currentIndex+1)}}</h2>
  </div>
  <!-- Menu déroulant en haut à droite -->
  <div class="top-right-menu">
    <button class="menu-btn" (click)="toggleMenu()">☰</button>

    <div class="menu-dropdown" *ngIf="menuOpen">
      <ul>
        <li (click)="openFullscreen()">📺 Plein écran</li>
        <li (click)="toggleZoom()">🔍 Zoom</li>
        <li (click)="chatVisible = true">💬 Chatbot</li>
        <!-- Nouvelle ligne pour ouvrir le modal d'association -->
        <li (click)="openListModal(); menuOpen = false">
          📋 Associer à une liste (Pages)
        </li>
        <li (click)="getOCRPage(); menuOpen = false">📋 Récupérer le OCR</li>
        <li (click)="getTranslatePage(); menuOpen = false">
          📋 Afficher la traduction
        </li>
        <li (click)="getSommaireLivre(); menuOpen = false">
          📋 Afficher le sommaire
        </li>
      </ul>
    </div>
  </div>

  <!-- Image principale -->
  <div
    class="main-image-container"
    (swipeleft)="nextPage()"
    (swiperight)="prevPage()"
    [class.zoomed]="isZoomed"
    (click)="toggleZoom()"
  >
    <pinch-zoom>
      <img [src]="currentPage" alt="Page" class="main-image" [@fadeImage] />
    </pinch-zoom>
    <button class="nav-button prev" (click)="prevPage()">‹</button>
    <button class="nav-button next" (click)="nextPage()">›</button>
  </div>

  <!-- Slider de miniatures -->
  <!--<div class="thumbnail-slider">
    <img
      *ngFor="let page of listPagesByLivre; let i = index"
      [src]="page.url"
      [class.active]="i === currentIndex"
      (click)="goToPage(i)"
      class="thumbnail"
      alt="aperçu page {{ i + 1 }}"
    />
  </div>-->
</div>

<!-- Slider de miniatures -->
<div class="thumbnail-slider">
  <div
    class="thumbnail-container"
    *ngFor="let page of listPagesByLivre; let i = index"
    [class.active]="i === currentIndex"
    (click)="goToPage(i)"
  >
    <img [src]="page.url" class="thumbnail" [alt]="'aperçu page ' + (i + 1)" />
    <div class="thumbnail-page-number">Page {{ i + 1 }}</div>
  </div>
</div>

<div
  class="slider-block"
  *ngIf="listRocommandationsLivre.length > 0 "
  style="margin-left: 3%"
>
  <h2 class="slider-title">Recommandations pour vous</h2>
  <div class="slider">
    <div
      class="card"
      *ngFor="let livre of listRocommandationsLivre; let i = index"
    >
      <img [src]="livre.cover" [alt]="livre.titre" class="book-cover" />
      <p>{{livre.titre}}</p>
      <p class="book-theme">Thème: {{livre.keyTheme}}</p>
      <button class="btn-view" (click)="selectLivreRecommande(livre)">
        Voir le livre
      </button>
    </div>
  </div>
</div>

<!-- Bouton flottant pour ouvrir -->
<button class="chatbot-float-btn" (click)="chatVisible = !chatVisible">
  💬
</button>

<!-- Fenêtre popup du chatbot -->
<div class="chatbot-popup" *ngIf="chatVisible">
  <div class="chatbot-header">
    <span class="chatbot-title">Assistant MEGABOOK</span>
    <button
      class="chatbot-close-btn"
      (click)="chatVisible = false"
      style="margin-right: 233px"
    >
      ✖
    </button>
    <!-- Fenêtre popup du chatbot -->
    <div class="chatbot-model-select">
      <label for="model-select">Modèle :</label>
      <select
        id="model-select"
        [(ngModel)]="selectedModel"
        (change)="onModelChange()"
      >
        <option *ngFor="let model of chatbotModels" [value]="model.value">
          {{ model.label }}
        </option>
      </select>
    </div>
  </div>

  <iframe
    [src]="chatbotUrlSafe"
    class="chatbot-frame-popup"
    frameborder="0"
    allow="microphone; camera"
    *ngIf="selectedModel === 'https://app.vectorshift.ai/chatbots/deployed/685c47a653eb91b72fc8d3e6' ||  selectedModel === 'https://app.vectorshift.ai/chatbots/deployed/685edb8a20d9549cc6bce368'"
  ></iframe>

  <div
    class="parent-container"
    *ngIf="selectedModel === 'Custom-ai-deepseek-chat' 
          || selectedModel === 'Custom-ai-gemini-2.0-flash' 
          || selectedModel === 'Custom-ai-gemini-1.5-flash' 
          || selectedModel === 'Custom-ai-grok-beta' 
          || selectedModel === 'Custom-ai-claude-sonnet-4' 
          || selectedModel === 'Custom-ai-o3-mini'"
  >
    <div *ngIf="isLoading" class="loader-container">
      <div class="spinner"></div>
    </div>

    <!-- Slider scrollable messages -->
    <div class="chat-messages">
      <div
        *ngFor="let msg of messages"
        [ngClass]="{'message': true, 'bot': msg.from === 'bot', 'user': msg.from === 'user'}"
      >
        <img
          *ngIf="msg.from === 'bot'"
          src="https://i.postimg.cc/rygf5p76/chatbot.png"
          alt="Bot"
          class="avatar"
        />
        <img
          *ngIf="msg.from === 'user'"
          src="https://i.postimg.cc/6QMGrMCX/user.png"
          alt="User"
          class="avatar"
        />
        <div class="bubble" [innerHTML]="msg.text"></div>
      </div>
    </div>

    <!-- Barre de saisie FIXE EN BAS -->
    <form class="chat-input" (ngSubmit)="askQuestion()">
      <input
        type="text"
        placeholder="Écrivez un message…"
        autocomplete="off"
        [(ngModel)]="questionUser"
        name="userMessage"
        required
      />
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="isListModalOpen" (click)="closeListModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Listes Disponibles</h3>
    <ul class="list-container" *ngIf="listsLecture.length > 0">
      <li *ngFor="let list of listsLecture" class="list-item">
        <span class="list-name">{{ list.titre }}</span>
        <button class="assign-btn" (click)="assignPageToList(list)">
          Affecter
        </button>
      </li>
    </ul>

    <div style="text-align: center" *ngIf="listsLecture.length === 0">
      <!-- Illustration simple en SVG -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="120"
        height="120"
        fill="none"
        viewBox="0 0 64 64"
        stroke="#999"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M32 12v40M12 32h40" />
        <circle cx="32" cy="32" r="30" />
      </svg>

      <h3>Aucune liste enregistré</h3>
      <p>Vous n’avez pas encore ajouté des listes.</p>

      <button type="text" (click)="goToAddNewList()" class="save-btn">
        Enregistrer une nouvelle liste
      </button>
    </div>

    <button class="close-btn" (click)="closeListModal()">Fermer</button>
  </div>
</div>

<div
  class="toast-notification"
  *ngIf="toastMessage"
  [ngClass]="['toast-' + toastType]"
  [@fadeInOut]
>
  {{ toastMessage }}
</div>

<!-- Affiche le modal si la session est expirée -->
<div class="modal-backdrop" *ngIf="showSessionExpiredModa"></div>
<div class="session-modal" *ngIf="showSessionExpiredModa">
  <h2>Session expirée</h2>
  <p>Votre session a expiré.<br />Veuillez vous reconnecter pour continuer.</p>
  <button (click)="goToLogin()">Se connecter</button>
</div>

<!-- Modal -->
<div
  class="modal-backdrop"
  *ngIf="isListModalOpenEdit"
  (click)="closeListModalEdit()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Ajouter une note</h3>

    <form (ngSubmit)="editNoteForm()" #listForm="ngForm">
      <div class="form-group">
        <label for="NoteIdSelect">La note :</label>
        <select
          id="NoteIdSelect"
          name="NoteIdSelect"
          [(ngModel)]="note_id"
          required
          #nameInput="ngModel"
          class="form-control"
          (change)="onSelectNoteChange($event)"
        >
          <option value="" disabled selected>Sélectionnez une note</option>
          <option *ngFor="let note of listsNotes" [value]="note._id">
            {{ note.titre }}
          </option>
        </select>
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">La note est requise.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="listName">Source de la note:</label>
        <input
          type="text"
          id="source"
          name="listName"
          [(ngModel)]="source"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
          [value]="source"
        />
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le nom de la source est requis.
          </div>
          <div *ngIf="nameInput.errors?.['minlength']">
            Le nom doit contenir au moins 3 caractères.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="listName">Note&nbsp;:</label>
        <!-- <textarea
          id="note"
          name="note"
          [(ngModel)]="note"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
          rows="10"
        ></textarea>-->
        <angular-editor
          [(ngModel)]="note"
          [config]="config"
          name="note"
        ></angular-editor>
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">La note est requise.</div>
          <div *ngIf="nameInput.errors?.['minlength']">
            La note doit contenir au moins 3 caractères.
          </div>
        </div>
      </div>

      <div class="form-actions" style="margin-top: 2%">
        <button type="submit" [disabled]="!listForm.valid" class="save-btn">
          Enregistrer
        </button>
        <button
          type="button"
          (click)="confirmActionOcrNote()"
          class="save-btn"
          style="margin-left: 2%"
        >
          Continuer OCR
        </button>
        <button
          type="button"
          (click)="traductionTextByAi()"
          class="save-btn"
          style="margin-left: 2%"
        >
          Traduire le texte
        </button>
        <button
          type="button"
          (click)="SummarizingTextByAi()"
          class="save-btn"
          style="margin-left: 2%"
        >
          Résumer le texte
        </button>
        <button type="button" class="cancel-btn" (click)="closeListModalEdit()">
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeListModalEdit()">Fermer</button>
  </div>
</div>

<!-- Modal list Models ia -->
<div
  class="modal-backdrop"
  *ngIf="isListModelsIAModalOpen"
  (click)="closeListModelsIAModal()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Paramétrage Modéle IA</h3>

    <form (ngSubmit)="saveSettingModelsIAForm()" #listModelsIAForm="ngForm">
      <div class="form-group">
        <label for="NoteIdSelect">Le modéle :</label>
        <select
          id="nameModelSelect"
          name="nameModelSelect"
          [(ngModel)]="model"
          required
          #nameInput="ngModel"
          class="form-control"
          (change)="onSelectModelIAChange($event)"
        >
          <option value="" disabled selected>Sélectionnez un modéle</option>
          <option *ngFor="let model of listModelsIA" [value]="model.value">
            {{ model.label }}
          </option>
        </select>
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le modéle est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label d-block mb-2">Sélectionnez le type de prompt :</label>
      
        <div class="radio-group">
          <label
            *ngFor="let model of listTypesPromptsModelsIA"
            class="radio-button"
            [class.active]="typePrompt === model.value"
          >
            <input
              type="radio"
              name="typePromptModelSelect"
              [value]="model.value"
              [(ngModel)]="typePrompt"
              required
              (change)="onSelectTypePromptModelIAChange($event)"
            />
            <span>{{ model.label }}</span>
          </label>
        </div>
      </div>
              
      


      <div class="form-actions" style="margin-top: 2%">
        <button
          type="submit"
          [disabled]="!listModelsIAForm.valid"
          class="save-btn"
        >
          Enregistrer
        </button>

        <button
          type="button"
          class="cancel-btn"
          (click)="closeListModelsIAModal()"
        >
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeListModelsIAModal()">Fermer</button>
  </div>
</div>

<!-- Modal Translation Text Ai-->
<div
  class="modal-backdrop"
  *ngIf="isListModalOpenTranslate"
  (click)="closeListModalTranslate()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Ajouter une translation</h3>

    <div *ngIf="isLoadingTranslat" class="loader-container">
      <div class="spinner"></div>
    </div>

    <form
      (ngSubmit)="translateTextOcrForm()"
      #listForm="ngForm"
      *ngIf="!isLoadingTranslat"
    >
      <div class="form-group">
        <label for="LangueIdSelect">La langue :</label>
        <select
          id="LangueIdSelect"
          name="LangueIdSelect"
          [(ngModel)]="langue_id"
          required
          #nameInput="ngModel"
          class="form-control"
          (change)=" onSelectLangueChange($event)"
        >
          <option value="" disabled selected>Sélectionnez une langue</option>
          <option *ngFor="let langue of listsLangues" [value]="langue._id">
            {{ langue.label }}
          </option>
        </select>
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            La langue est requise.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="listName">Translation&nbsp;:</label>
        <!-- <textarea
          id="note"
          name="note"
          [(ngModel)]="note"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
          rows="10"
        ></textarea>-->
        <angular-editor
          [(ngModel)]="textTranslat"
          [config]="config"
          name="textTranslat"
        ></angular-editor>
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            La traduction est requise.
          </div>
        </div>
      </div>

      <div class="form-actions" style="margin-top: 2%">
        <button type="submit" [disabled]="!listForm.valid" class="save-btn">
          Enregistrer
        </button>

        <button
          type="button"
          class="cancel-btn"
          (click)="closeListModalTranslate()"
        >
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeListModalTranslate()">
      Fermer
    </button>
  </div>
</div>

<!-- Modal Resumé Text Ai-->
<div
  class="modal-backdrop"
  *ngIf="isListModalOpenSummarizingText"
  (click)="closeListModalSummarizingText()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Ajouter un résumé du texte</h3>

    <div *ngIf="isLoadingSummarizingText" class="loader-container">
      <div class="spinner"></div>
    </div>

    <form
      (ngSubmit)="SummarizingTextForm()"
      #listForm="ngForm"
      *ngIf="!isLoadingSummarizingText"
    >
      <div class="form-group">
        <label for="listName">Résumé&nbsp;:</label>
        <!-- <textarea
          id="note"
          name="note"
          [(ngModel)]="note"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
          rows="10"
        ></textarea>-->
        <angular-editor
          [(ngModel)]="summarizingText"
          [config]="config"
          name="summarizingText"
        ></angular-editor>
        <!--  <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le résumé est requise.
          </div>
        </div>-->
      </div>

      <div class="form-actions" style="margin-top: 2%">
        <button type="submit" [disabled]="!listForm.valid" class="save-btn">
          Enregistrer
        </button>

        <button
          type="button"
          class="cancel-btn"
          (click)="closeListModalSummarizingText()"
        >
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeListModalSummarizingText()">
      Fermer
    </button>
  </div>
</div>

<!-- Modal confirmation Suivi Ocr -->
<div
  class="confirm-backdrop"
  *ngIf="isConfirmOpenOcr"
  (click)="cancelSuiviOcr()"
>
  <div class="confirm-modal" (click)="$event.stopPropagation()">
    <h3>Confirmation</h3>
    <p>Vous voulez continuer le OCR des pages ?</p>
    <div class="confirm-actions">
      <button class="btn btn-cancel" (click)="cancelSuiviOcr()">Annuler</button>
      <button class="btn btn-confirm" (click)="confirmActionOcrNote()">
        Continuer
      </button>
    </div>
  </div>
</div>

<!-- Modal add  -->
<div
  class="modal-backdrop"
  *ngIf="isFormModalOpenAddListe"
  (click)="closeFormModalAddListe()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-form-title">Créer une nouvelle liste</h3>

    <form (ngSubmit)="saveListeApi()" #listForm="ngForm">
      <div class="form-group">
        <label for="listName">Nom de la liste:</label>
        <input
          type="text"
          id="listName"
          name="listName"
          [(ngModel)]="currentList.titre"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
        />
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le nom de la liste est requis.
          </div>
          <div *ngIf="nameInput.errors?.['minlength']">
            Le nom doit contenir au moins 3 caractères.
          </div>
        </div>
      </div>

      <div class="form-actions" style="margin-top: 2%">
        <button type="submit" [disabled]="!listForm.valid" class="save-btn">
          Créer la liste
        </button>
        <button
          type="button"
          class="cancel-btn"
          (click)="closeFormModalAddListe()"
        >
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeFormModalAddListe()">Fermer</button>
  </div>
</div>

<div
  class="modal-backdrop"
  *ngIf="isShowTranslationModalPage"
  (click)="closeShowTranslationModalPage()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-form-title">La traduction</h3>

    <p [innerHTML]="translatePageText"></p>

    <div class="form-actions" style="margin-top: 2%">
      <button
        type="button"
        (click)="prevPageTranslate()"
        class="save-btn"
        style="margin-left: 2%"
      >
        <-- Précedant
      </button>

      <button
        type="button"
        (click)="nextPageTranslate()"
        class="save-btn"
        style="margin-left: 2%"
      >
        Suivant -->
      </button>

      <button
        type="button"
        (click)="closeShowTranslationModalPage()"
        class="close-btn"
        style="margin-left: 2%"
      >
        Fermer
      </button>
    </div>
  </div>
</div>

<div
  class="modal-backdrop"
  *ngIf="isListModalOpenSommaire"
  (click)="closeShowSommaireLivre()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-form-title">Le sommaire</h3>

    <!-- Formulaire ajout sommaire -->
    <div class="sommaire-form">
      <input
        type="text"
        placeholder="Nom de la section"
        [(ngModel)]="nouveauTitreSommaire"
      />
      <input
        type="number"
        placeholder="Numéro de page"
        [(ngModel)]="nouveauNumeroPage"
        min="1"
      />
      <button (click)="ajouterSommaire()">Ajouter</button>
    </div>

    <!-- Liste sommaire affichée -->
    <!--<ul class="liste-sommaire">
      <li *ngFor="let item of infosLivre.listSommaires">
        {{ item.titre }} - page {{ item.page }}
        <button (click)="accederPage(item.page)">Aller à la page</button>
      </li>
    </ul>-->

    <ul class="liste-sommaire">
      <li
        *ngFor="let item of infosLivre.listSommaires; let i = index"
        class="item-sommaire"
      >
        <span class="texte-sommaire">{{ item.titre }} </span>

        <div class="btn-group">
          <button class="btn-aller" (click)="accederPage(item.page)">
            Aller à la page ({{ item.page }})
          </button>
          <button class="btn-modifier" (click)="modifierSommaireFormModal(i)">
            Modifier
          </button>
          <button class="btn-supprimer" (click)="supprimerSommaire(item)">
            Supprimer
          </button>
        </div>
      </li>
    </ul>

    <button
      type="button"
      (click)="closeShowSommaireLivre()"
      class="close-btn"
      style="margin-left: 2%"
    >
      Fermer
    </button>
  </div>
</div>

<!-- Modal Edit item sommaire-->
<div
  class="modal-backdrop"
  *ngIf="isModalEditItemSommaire"
  (click)="closeModalEditItemSommaire()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3 class="modal-title">Editer le sommaire</h3>

    <form
      (ngSubmit)="submitFormEditItemSommaire()"
      #FormEditItemSommaire="ngForm"
    >
      <div class="form-group">
        <label for="nameItemSommaire">Nom de sommaire:</label>
        <input
          type="text"
          id="nameItemSommaire"
          name="nameItemSommaire"
          [(ngModel)]="currentItemSommaire.titre"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
        />
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le nom de sommaire est requis.
          </div>
          <div *ngIf="nameInput.errors?.['minlength']">
            Le nom doit contenir au moins 3 caractères.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="listName">Page de sommaire:</label>
        <input
          type="number"
          id="pageItemSommaire"
          name="pageItemSommaire"
          [(ngModel)]="currentItemSommaire.page"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
        />
        <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            La page de sommaire est requis.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="listName">Résumé&nbsp;:</label>
        <!-- <textarea
          id="note"
          name="note"
          [(ngModel)]="note"
          required
          minlength="3"
          #nameInput="ngModel"
          class="form-control"
          rows="10"
        ></textarea>-->
        <angular-editor
          [(ngModel)]="currentItemSommaire.resumeText"
          [config]="config"
          name="resumeTextItemSommaire"
        ></angular-editor>
        <!--  <div
          *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
          class="validation-message"
        >
          <div *ngIf="nameInput.errors?.['required']">
            Le résumé est requise.
          </div>
        </div>-->
      </div>

      <div class="form-actions" style="margin-top: 2%">
        <button
          type="submit"
          [disabled]="!FormEditItemSommaire.valid"
          class="save-btn"
        >
          Enregistrer
        </button>

        <button
          type="button"
          class="cancel-btn"
          (click)="closeModalEditItemSommaire()"
        >
          Annuler
        </button>
      </div>
    </form>

    <button class="close-btn" (click)="closeModalEditItemSommaire()">
      Fermer
    </button>
  </div>
</div>
