<app-header></app-header>

<div *ngIf="router.url === '/'">
  <!-- Contenu affiché uniquement sur la page d'accueil -->
  <div class="themes-container">
    <h1 class="themes-title">Choisissez un thème</h1>
    <div class="themes-grid">
      <div
        class="theme-card"
        *ngFor="let theme of themes"
        (click)="selectTheme(theme)"
      >
        <div class="theme-icon" [ngStyle]="{'background': theme.gradient}">
          <div [innerHTML]="theme.icon"></div>
        </div>
        <div class="theme-info">
          <h2 class="theme-name">{{ theme.name }}</h2>
          <p class="theme-description">{{ theme.description }}</p>
        </div>
      </div>

      <!-- <div
        class="theme-card"
        *ngFor="let magazine of magazines"
        (click)="selectTheme(magazine)"
      >
        <div class="theme-info">
          <h2 class="theme-name" style="color: red">{{ magazine.titre }}</h2>
        </div>
      </div> -->
    </div>
  </div>
  <!--  <nav>
    <a routerLink="/magazines">Magazines</a>
  </nav>-->
</div>

<!--<a (click)="goToMagazines()">Voir les magazines</a>-->

<router-outlet></router-outlet>
