<app-header></app-header>

<!-- Loader pendant le chargement -->
<div *ngIf="isLoading && router.url === '/'" class="loader-container">
  <div class="spinner"></div>
</div>

<div *ngIf="router.url === '/' && !isLoading">
  <div class="accueil-container">
    <h1 class="accueil-title">📚 Bienvenue dans votre bibliothèque</h1>

    <div class="slider-block">
      <h2 class="slider-title">Derniers Livres</h2>
      <div class="slider">
        <div
          class="card"
          *ngFor="let item of lastLivres"
          (click)="selectCycleLivre(item)"
        >
          <img [src]="item.cover" [alt]="item.titre" />
          <p>{{ item.titre }}</p>
        </div>
      </div>
    </div>

    <div class="slider-block">
      <h2 class="slider-title">Magazines Scientifiques</h2>
      <div class="slider">
        <div
          class="card"
          *ngFor="let item of lastMagazinesScience"
          (click)="selectMagazine(item)"
        >
          <img [src]="item.cover" [alt]="item.titre" />
          <p>{{ item.titre }}</p>
        </div>
      </div>
    </div>

    <div class="slider-block">
      <h2 class="slider-title">Magazines Informatiques</h2>
      <div class="slider">
        <div
          class="card"
          *ngFor="let item of lastMagazinesInformatique"
          (click)="selectMagazine(item)"
        >
          <img [src]="item.cover" [alt]="item.titre" />
          <p>{{ item.titre }}</p>
        </div>
      </div>
    </div>

    <div class="slider-block">
      <h2 class="slider-title">Magazines Financiers</h2>
      <div class="slider">
        <div
          class="card"
          *ngFor="let item of lastMagazinesFinance"
          (click)="selectMagazine(item)"
        >
          <img [src]="item.cover" [alt]="item.titre" />
          <p>{{ item.titre }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<a (click)="goToMagazines()">Voir les magazines</a>-->

<router-outlet></router-outlet>
